body{
    /* background-color: rgb(226, 222, 222); */
    background-color: rgb(41, 41, 49);
}
.block img{
    width: 40vw;
    height: 40vh;
    margin-left: 18vw;
    margin-top: 10vh;
}
.block {
    font-size: 3vmin;
    width: 80vw;
    /* height: 60vh; */
    /* border: 2px solid black; */
    background-color: white;
    border-radius: 5px;
    margin-left: 10vw;
    margin-top: 18vh;
    font-family: 'Times New Roman', Times, serif;
    font-weight:100;
    display: inline-block;
    color: black;
}
.head{
    margin-left: 15vw;
    margin-top: 12vh;
    width: 30vw;
}
.head a{
    font-size: 8vmin;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: rgb(255, 187, 0);
    display: flex;  

}